body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

#title {
  background-color: #ff4c68;
}
@media(max-width:1024px) {
#title{
  text-align: center;
}
}
h1,h2,h3,h4,h5,h6{

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* .iphone6{ */
/* transform: rotate(30deg); */
/* } */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: 'Montserrat-light';
}

.download-button {
  margin: 5% 3% 5% 0;
}

.tittle-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 25%;
}

@media(max-width:1028px) {
  .tittle-image {
    position: static;
    transform: rotate(0);
  }
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.4rem;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* .col-lg-4{ */
/* padding: 80px 40px  60px 80px; */
/* } */
.section-para {
  color: #8f8f8f;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 50px;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.card {
  margin: 20px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 15%;

}
h3{

  font-size: 3.5rem;
  line-height: 1.5;


}
.cta-button{
  font-family: sans-serif;
}
#footer{
  background-color: #fff;
  text-align: center;
  padding: 3% 7%;

}
.footer-icons{
  margin: 20px 10px;
}
